body {
    box-sizing: border-box;
    background-color: rgb(175, 236, 175);
}

.header {
    text-align: center;
    
    height: 3em;
    width: 100%;
    background-image: linear-gradient(rgb(23, 24, 24),rgb(24, 24, 24));
    margin: 2em 0;
}

.seller {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
 
    background-image: url(https://images.unsplash.com/photo-1510070112810-d4e9a46d9e91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    /* background-repeat: no-repeat;
    background-size: cover; */
    
}

input {
    border-radius: 1em;
    padding: 0.5em 1em;
    margin: 1em 2em;
    /* size: "40"; */
    width: 80%;
    text-align: center;
}

input:focus {
    border: none;
    background-color: lightyellow;
}

.address{
    padding: 1em 5em;
    border: 1em solid antiquewhite;
    border-radius: 1em;
    background-color: antiquewhite;
    margin: 0.5em;
    width: 25%;
}


h1 {
    color: rgb(243, 73, 11);
    font-style: italic;
    text-align: center;
}

input[type="submit"] {
    background-color: rgb(218, 15, 150);
    color: mintcream;
}


input[type="reset"]{
    background-color: orange;
    color: papayawhip;
}